{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ServiceBus": {
    "Connection": "<az servicebus namespace authorization-rule keys list --resource-group rg-socialcommerce --namespace-name sb-socialcommerce --name RootManageSharedAccessKey --query primaryConnectionString -o tsv>"
  },
  "Authentication": {
    "Jwt": {
      "SymmetricKey": "<az keyvault secret show --vault-name kv-socialcommerce --name Jwt--SymmetricKey --query value -o tsv>",
      "Issuer": "SocialCommerce"
    }
  }
}
